

.display {
  display: none;
  margin-top: 1vh;
}

.display > div {
  display: inline-block;
}

.split-view .info {
  width: 30vw;
}
.text-only .info {
  width: 95vw;
}
.view-only .info {
  width: 0;
}

/* Info Pane */
.info {
  height: 45vh;
  color: #000;
  background-color: #eee;
  overflow: auto;
  margin-left: 1vw;
  padding-left: 3px;
  font-family: sans-serif;
}
#aboutMe img.self-photo {
  max-width: 10vw;
  float: left;
  margin: 0 5px 5px 0;
}

/* Project Description */
.info .title {
  font-size: 24px;
  font-weight: bold;
  font-family: Righteous, cursive;

}
.info header {
  font-family: Righteous, cursive;
}

.info section {
  display: none;
}

#mySkills {
  display: flex;
  flex-direction: row;
}

.skill-set {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 1vw;
  margin: 2px;
}
.skill-set header {
  margin-top: -10px;
  background-color: inherit;
}

.skills li, .skill-set li {
  list-style: none;
}

.split-view .preview {
  width: 65vw;
}
.text-only .preview {
  width: 0;
}
.view-only .preview {
  width: 95vw;
}

/* Preview Pane */
.preview {
  display: none;

  margin: 0 auto;
  text-align: center;
  overflow:hidden;
  border: inset #ddd thin;
  height: 45vh;

}
.preview iframe {
  width: 100%;
  height: 60vh;
  max-height: 100%;
}




.code {
  text-align: center;
  margin: 2px 3px;
  padding: 1px;
}
.repo {
  height: 20px;
  vertical-align: middle;
  padding-right: 20px;
  background-image: url('images/contact/github-512.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.repo a {
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  padding: 2px 3px;
  margin: 1px;
  font-variant: small-caps;
  font-family: monospace;
  margin-left: 20px;
}
.repo a:hover {
  color: #fff;
  background-color: #000;
}


/* @media only screen and (max-width: 900px) {
  .display > div {
    display: inline;
  }
  .split-view .preview {
    width: 50%;
  }
  .split-view .info {
    width: 40%;
    background-color: #eee;
  }
} */

@media only screen and (max-width: 600px) {
  .display > div {
    display: block;
  }
  .display .info {
    width: 95%;
    margin: 0 auto;
  }
  .display .preview {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    overflow:hidden;
    border: inset #ddd thin;
    height: 45vh;
  }

}
