body {
  background: #000;
  color: #fff;
}

.page-header {
  font-family: Srisakdi, cursive;
  text-align: center;
  font-weight: 400;
  /* border: thin inset #666; */
  width: 40vw;
  margin: 3px auto;
}
.page-header img {
  width: 60px;
  vertical-align: middle;
  margin: 0 10px;
}
.page-header .logo-left {
  float: left;
}
.page-header .logo-right {
  float: right;
}
.page-header span {
  margin: 0 5px;
}

h1, .h1 {
  color: #FF2734;
  font-size: 48px;
}
h2, .h2 {
  color: #f80;
  font-size: 36px;
}



.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  width: 16vw;
  height: 16vw;
  border-radius: 8vw;
  margin: auto;
  background-color: #fff;

}
.project.active, .project.active:hover {
  background: #ddd;

}

.project article {
  width: 14vw;
  height: 14vw;
  border-radius: 7vw;
  margin: 1vw;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.project article.active, .project:hover article.active {
  background: transparent;
}

.project article div {
  /* margin-top: 20px; */
}

.project .visit {
  display: none;
}
.project .visit a {
  color: #000;
  font-family: Srisakdi, cursive;
  text-decoration: none;
}
.project .visit a:hover {
  text-decoration: underline;
}


.project header {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
}

.project a {
  text-decoration: none;
}

.project article header .logo {
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  margin: 0 auto;
}
.project article header .logo img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project header .title-bkg {
  border-radius: 3px;
  background-color: #eee;
  opacity: 0.7;
  padding: 2px 3px;
}
.project header .title {
  display: block;
  color: #000;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  font-family: Righteous, cursive;
}

.project article .text-msg, .project:hover article .text-msg {
  color: #000;
  font-family: Srisakdi, cursive;
  font-size: 12px;
  margin-top: 3px;
}
.project article.active .text-msg {
  display: none;
}

.project article.active .visit {
  display: block;
}

.project:hover {
  background-color: #000;
}
.project:hover article {
  background-color: #fff;
}
.project:hover header {
  color: #000;
}
.project:hover .title-bkg {
  background-color: #333;
}
.project:hover .title {
  color: #fff;
}
.project:hover p {
  color: #006;
}




footer {
  position: fixed;
  bottom: 2px;
  font-size: 14px;
  font-family: Righteous, cursive;
  width: 98%;
  text-align: center;
  margin: 1px auto;
  vertical-align: middle;

  background-color: #eee;
  color: #000;
  border-radius: 5px;
  padding: 1px 3px;
  margin: 2px 5px;
}

footer .contact {
  float: left;
}
.contact li {
  list-style: none;
  display: inline;
}
.contact li:hover {
  opacity: 0.6;
}
.contact li a {
  text-decoration: none;
  color: inherit;
  margin: 0 5px;
}
.contact a .contact-info {
  display: none;
}
.contact li a img {
  width: 25px;
}

footer .copyright {
  margin: 15px 10px 0 0;
  float: right;
  font-size: 20px;
}
footer .contact-display {
  position: fixed;
  bottom: 10px;
  clear: both;
  visibility: hidden;
  margin: 0 auto;
  padding: 3px 5px;
  display: inline;

  font-family: Righteous, cursive;
  font-size: 18px;
  font-weight: 400;
  border: thin solid;
  border-radius: 4px;
}
footer .contact-display img {
  width: 30px;
  margin-right: 5px;
  vertical-align: bottom;
}

@media only screen and (max-width: 900px) {

  .project header .title {
    font-size: 0.6rem;
  }

}
