


.parchment {
  background-color: transparent;

}

.parchment .p-middle {
  background-image: url('images/parchment/v-scroll-middle.png');
  background-repeat: repeat-y;

}
.parchment .p-top {
  background-image: url('images/parchment/v-scroll-top.png');
  background-repeat: no-repeat;
  width: 100%;
}
.parchment .p-bottom {
  background-image: url('images/parchment/v-scroll-bottom.png');
  background-repeat: no-repeat;
  width: 100%;
}

.parchment .p-center {
  background-image: url('images/parchment/h-scroll-center.png');
  background-size: cover;
  height: 100%;

}
.parchment .p-left {
  background-image: url('images/parchment/h-scroll-left.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 100px;
  float: left;
}
.parchment .p-right {
  background-image: url('images/parchment/h-scroll-right.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 100px;
  float: right;
}
